section.reviews-section
  .container
    .reviews-title-holder
      .reviews-title-box
        h2.title-2 Reviews
  .reviews-slider-wrapper
    .container
      .reviews-slider
        .reviews-item
          .rev-item-holder
            .rev-img-wrapper
              picture
                source(srcet='./img/rev-img/rev-img-1.webp 1x, ./img/rev-img/rev-img-1-2x.webp 2x'
                  type='image/webp')
                source(srcet='./img/rev-img/rev-img-1.jpg 1x, ./img/rev-img/rev-img-1-2x.jpg 2x'
                  type='image/jpeg')
                img.rev-img(src='./img/rev-img/rev-img-1.jpg' alt='avatar' loading='lazy')
            .rev-content-wrapper
              h3.title-reviews
                | Irina Alekseeva
              p.text-reviews
                | Отличная школа и замечательные педагоги. 
                | Мой ребенок с удовольствием занимается уже второй год. 
                | Трехзначные числа считает в уме (он ходит в первый класс).
        .reviews-item
          .rev-item-holder
            .rev-img-wrapper
              picture
                source(srcet='./img/rev-img/rev-img-2.webp 1x, ./img/rev-img/rev-img-2-2x.webp 2x'
                  type='image/webp')
                source(srcet='./img/rev-img/rev-img-2.jpg 1x, ./img/rev-img/rev-img-2-2x.jpg 2x'
                  type='image/jpeg')
                img.rev-img(src='./img/rev-img/rev-img-2.jpg' alt='avatar' loading='lazy')
            .rev-content-wrapper
              h3.title-reviews
                | Ольга Ладченко
              p.text-reviews
                | Рекомендую нашу группу на Вербицкого! 
                | Дочь попала на занятия ровно в 5 лет( 
                | ей очень нравились цифры, она тянулась). 
                | Были сомнения и у меня, и у тренера( очень маленькая).
        .reviews-item
          .rev-item-holder
            .rev-img-wrapper
              picture
                source(srcet='./img/rev-img/rev-img-3.webp 1x, ./img/rev-img/rev-img-3-2x.webp 2x'
                  type='image/webp')
                source(srcet='./img/rev-img/rev-img-3.jpg 1x, ./img/rev-img/rev-img-3-2x.jpg 2x'
                  type='image/jpeg')
                img.rev-img(src='./img/rev-img/rev-img-3.jpg' alt='avatar' loading='lazy')
            .rev-content-wrapper
              h3.title-reviews
                | Ulyana Semchuk
              p.text-reviews
                | Я рекомендую Indigo Mental в якості достойного клубу 
                | для занять ментальною арифметикою. Молоді 
                | професіонали грамотно ведуть заняття, 
                | чередуючи саме навчання з fun-розминками.
        .reviews-item
          .rev-item-holder
            .rev-img-wrapper
              picture
                source(srcet='./img/rev-img/rev-img-1.webp 1x, ./img/rev-img/rev-img-1-2x.webp 2x'
                  type='image/webp')
                source(srcet='./img/rev-img/rev-img-1.jpg 1x, ./img/rev-img/rev-img-1-2x.jpg 2x'
                  type='image/jpeg')
                img.rev-img(src='./img/rev-img/rev-img-1.jpg' alt='avatar' loading='lazy')
            .rev-content-wrapper
              h3.title-reviews
                | Ulyana Semchuk
              p.text-reviews
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                | Quidem soluta nesciunt reprehenderit illo sed officiis aliquid, 
                | culpa, accusamus, voluptate nobis alias qui excepturi itaque nemo 
                | est aliquam amet vero iure!
                | Quidem soluta nesciunt reprehenderit illo sed officiis aliquid, 
                | culpa, accusamus, voluptate nobis alias qui excepturi itaque nemo 
                | est aliquam amet vero iure!
                | culpa, accusamus, voluptate nobis alias qui excepturi itaque nemo 
                | est aliquam amet vero iure!
                | Quidem soluta nesciunt reprehenderit illo sed officiis aliquid, 
                | culpa, accusamus, voluptate nobis alias qui excepturi itaque nemo 
                | est aliquam amet vero iure!
